run = ["python3", "main.py"]
language = "python3"
entrypoint = "main.py"
hidden = ["venv", ".config", "**/__pycache__", "**/.mypy_cache", "**/*.pyc"]

audio = true
modules = ["python-3.8"]

[nix]
channel = "stable-21_11"
packages = ["SDL2", "SDL2_image", "SDL2_mixer", "SDL2_ttf", "fontconfig", "freetype", "gdb", "libjpeg", "libpng", "pkg-config", "portmidi"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "venv", ".config"]

[env]

[agent]
expertMode = true
